@import "~bootstrap/scss/bootstrap";


body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(247, 248, 252);
  margin: 0 0 0 0;
}

.color-nav {
  background-color: #151E3D;
}

.color-footer {
  background-color: #151E3D;
}

.color-filter {
  background-color: #151E3D;
}
